<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-logo">
          <img src="../../assets/images/logo.png" alt="Logo">
        </div>
        <nav class="navbar-nav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/topGiver">Top CareGives</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li>
              <div class="search-bar">
                <input type="text" placeholder="Search">
                <button><i class="fas fa-search"></i></button>
              </div>
            </li>
          </ul>
        </nav>
      </header>


      <section class="privacy-policy">
        <div class="content-box">
            <h1>Privacy Policy</h1>

            <div class="section-box">
                <h2>Information Usage</h2>
                <p>
                    <strong>Services:</strong> At-Home Care Company will utilize health information to provide home care services. This information may be shared with our staff, doctors, or healthcare facilities as needed for your care.
                </p>

                <p>
                    <strong>Payment:</strong> At-Home Care Company may disclose health information to obtain insurer approval, bill, and collect payments for provided services.
                </p>

                <p>
                    <strong>Operations:</strong> We may use or disclose health information for operational purposes such as quality improvement, staff evaluation, and communication. We have contracts with business associates who must protect your privacy. Government surveyors may access your information for service quality evaluation.
                </p>

                <p>
                    <strong>Health Related Benefits, Services, and Treatment Alternatives:</strong> We may contact you about other health-related benefits, services, or treatments. If you don't want to receive such communications, please inform us in writing.
                </p>

                <p>
                    <strong>Individuals Involved in Your Care:</strong> We may share health information with family, friends, or caregivers involved in your care, unless you specify otherwise.
                </p>

                <p>
                    <strong>Uses or Disclosures Required or Permitted by Law:</strong> We may use or disclose health information as required by law, including disaster relief, public health activities, research, and more.
                </p>

                <p>
                    <strong>Response to Your Inquiries and Information Requests:</strong> We use non-medical information for responses, demographics, and updates related to our services.
                </p>
            </div>

            <div class="section-box">
                <h2>Your Rights</h2>
                <p>You have the following rights regarding your identifiable health information:</p>
                <ul>
                    <li><strong>Confidential Communication:</strong> You can request specific methods or locations for health-related communications.</li>
                    <li><strong>Requesting Restrictions:</strong> You can request limitations on the use or disclosure of your health information.</li>
                    <li><strong>Inspection and Copies:</strong> You have the right to access and obtain copies of your health information.</li>
                    <li><strong>Amendment:</strong> You may request amendments to your health information if you believe it is inaccurate or incomplete.</li>
                    <li><strong>Accounting of Disclosures:</strong> You can request a list of disclosures made of your health information.</li>
                    <li><strong>Right to File a Complaint:</strong> You can file a complaint if you believe your privacy rights have been violated.</li>
                    <li><strong>Right to Provide an Authorization for Other Uses and Disclosures:</strong> We will obtain your written authorization for uses and disclosures not covered by this notice.</li>
                </ul>
            </div>

            <div class="section-box">
                <h2>Your Access to and Control over Information</h2>
                <p>You can:</p>
                <ul>
                    <li>See what data we have about you, if any.</li>
                    <li>Change/correct any data we have about you.</li>
                    <li>Have us delete any data we have about you.</li>
                    <li>Express any concerns you have about our data usage.</li>
                </ul>
            </div>

            <div class="section-box">
                <h2>Security</h2>
                <p>We take precautions to protect your information. Only authorized employees have access to your personally identifiable information, stored in a secure environment.</p>
            </div>


        </div>
    </section>

    <footer class="footer-distributed">

        <div class="footer-left">
           <span>Follow Us</span>
         <div class="line"> __________________ </div> 

            <div class="footer-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>La soukra, Avenue de l'UMA, Ariana</span></p>
            </div>

            <div>
                <i class="fa-solid fa-phone"></i>
                <p>+216 74 129 258</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">familiacare@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Our dedicated team empowers seniors to thrive with tailored assistance, companionship, and specialized services. Experience a fulfilling journey towards enriched senior living with us.
            
            </p>

        </div>
    </footer>

</body>
</html>
