<div class="widget-container">
    <div class="widget green">
        <div class="icon">        
            <fa-icon [icon]="faUsers"></fa-icon>
        </div>
        <div class="value">
            <div class="top">58</div>
            <div class="bottom">Users</div>
        </div>
    </div>

    <div class="widget yellow">
        <div class="icon">        
            <fa-icon [icon]="faHandshake"></fa-icon>
        </div>
        <div class="value">
            <div class="top">28</div>
            <div class="bottom">Sitters</div>
        </div>
    </div>

    <div class="widget red">
        <div class="icon">        
            <fa-icon [icon]="faMoneyBill"></fa-icon>
        </div>
        <div class="value">
            <div class="top">50</div>
            <div class="bottom">Subscriptions</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">        
            <fa-icon [icon]="faLocation"></fa-icon>
        </div>
        <div class="value">
            <div class="top">86</div>
            <div class="bottom">Addresses</div>
        </div>
    </div>
</div>