.top-section {
    @media only screen and (max-width: 1600px) {
      width: 880px;
    }
    @media only screen and (max-width: 1500px) {
      width: 780px;
    }
    @media only screen and (max-width: 1400px) {
      width: 680px;
    }
    @media only screen and (max-width: 1200px) {
      width: 580px;
    }
  }
  .middle-section {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1600px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1500px) {
      width: 980px;
    }
    @media only screen and (max-width: 1400px) {
      width: 880px;
    }
    @media only screen and (max-width: 1200px) {
      width: 780px;
    }
    .widget {
      height: 350px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
      &.left {
        width: 640px;
        @media only screen and (max-width: 1600px) {
          width: 590px;
        }
        @media only screen and (max-width: 1500px) {
          width: 490px;
        }
        @media only screen and (max-width: 1400px) {
          width: 390px;
        }
        @media only screen and (max-width: 1200px) {
          width: 290px;
        }
      }
      &.right {
        width: 590;
        @media only screen and (max-width: 1600px) {
          width: 590px;
        }
        @media only screen and (max-width: 1500px) {
          width: 490px;
        }
        @media only screen and (max-width: 1400px) {
          width: 390px;
        }
        @media only screen and (max-width: 1200px) {
          width: 290px;
        }
      }
    }
  }
  .bottom-section {
    display: flex;
    justify-content: space-between;
      height: 250px;
      background-color: #fff;
      border-radius: 5px;
      margin: 10px;
      box-shadow: 5px 5px 5px #939393;
  }