<div class="nav-items">
    <div class="nav-item">
        <a [routerLink]="['./']">
            <fa-icon [icon]="faDashboard"></fa-icon>
            <span>
                Dashboard
            </span>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['users']">
            <fa-icon [icon]="faUsers"></fa-icon>
            <span>
                Care Seekers
            </span>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['sitters']">
            <fa-icon [icon]="faHandshake"></fa-icon>
            <span>
                Care Givers
            </span>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['actions']">
            <fa-icon [icon]="faBellConcierge"></fa-icon>
            <span>
                Requests
            </span>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['reviews']">
            <fa-icon [icon]="faComment"></fa-icon>
            <span>
                Reviews
            </span>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['subscriptions']">
            <fa-icon [icon]="faMoneyBill"></fa-icon>
            <span>
                Subscription
            </span>
        </a>
    </div>
    <div class="nav-item">
        <a [routerLink]="['addresses']">
            <fa-icon [icon]="faLocation"></fa-icon>
            <span>
                Addresses
            </span>
        </a>
    </div>
</div>