
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
:root {
  --color-theme: #e75480;
}

/* * {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
} */

::selection {
  background: var(--color-theme);
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* section {
  padding: 3rem 5%;
} */

/* body {
  overflow-x: hidden;
} */

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
  }
  
  .navbar-logo img {
    width: 110px;
    height: 110px;
  }
  
  .navbar-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-nav li {
    margin-right: 20px;
  }
  
  .navbar-nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    font-size: large;
  }
  
  .navbar-nav a:hover {
    color: #d6a8c8;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    outline: none;
  }
  
  .search-bar button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .btn {
  color: var(--color-theme);
  background-color: #c29a9a;
  

  padding: 0.7rem 2rem;
  border: 0.2rem solid #cccccc;
  border-radius: 0.5rem;
  cursor: pointer;

  }
  
  .header .nav .btn {
  margin-right: 1rem;
  }
  
  .btn:hover {
    background-color: #eccccc;
  }
  


body {
    padding-top: 10%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    text-align: center;
    padding-bottom: 2%;
   color: rgb(94, 67, 67);
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
.container {
    margin-top: 2%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    z-index: 1;
    background-color: #f7f7f7;
}
p{
    padding-left: 10%;
    padding-top: 20px;
}