<link
  href="http://fonts.googleapis.com/css?family=Cookie"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<footer class="footer-distributed">
  <div class="footer-left">
    <span>Follow Us :</span>
    <div class="line">____________________</div>

    <div class="footer-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Tunisia</span></p>
    </div>

    <div>
      <i class="fa-solid fa-phone"></i>
      <p>+216 74 129 258</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#">familiacare@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Our dedicated team empowers seniors to thrive with tailored assistance,
      companionship, and specialized services. Experience a fulfilling journey
      towards enriched senior living with us.
    </p>
  </div>
</footer>
