<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
    <title>About Us - ElderlyCare</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-logo">
          <img src="../../assets/images/logo.png" alt="Logo">
        </div>
        <nav class="navbar-nav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="/policy">Policy</a></li>
            <li><a href="/topGiver">Top CareGives</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registration">Register</a></li>
            <li>
              <div class="search-bar">
                <input type="text" placeholder="Search">
                <button><i class="fas fa-search"></i></button>
              </div>
            </li>
          </ul>
        </nav>
      </header>

      <section class="team-section">
        <div class="container">
            <h2>Who We Are ?</h2>
            <p>Our mission at ElderlyCare is to connect families with qualified, competent caregivers and companions, carefully chosen based on multiple criteria.

                On one hand, our platform allows families to find the ideal caregiver with the values they seek in someone responsible for the well-being of their elderly loved ones. We provide families with availability calendars, access to geolocation services, and comprehensive profiles of our caregivers, outlining their skills, experiences, and more.</p>
          
        </div>
    </section>
    
    

    <section class="team-section" >
        <h2>Meet our Team</h2>
        <div class="profile-container">


            <div class="profile-box">
                <div class="icon">
                  <i class="fa-solid fa-hand-holding-heart"></i>
                </div>
                <h3>Director</h3>
                <img src="../../assets/images/mohamedk.jpg" alt="" class="sitter">
          
<h4>Kahla Mohamed</h4>
  
              </div>
            
            <div class="profile-box">
              <div class="icon">
                <i class="fa-solid fa-hand-holding-heart"></i>
              </div>
              <h3>HR Manager</h3>
              <img src="../../../assets/images/mariem.jpg" alt="" class="sitter">
     
<h4>Jouini</h4>
<h4>Mariem</h4>

            </div>
            <div class="profile-box">
                <div class="icon">
                  <i class="fa-solid fa-hand-holding-heart"></i>
                </div>
                <h3>lawyer</h3>
                <img src="../../assets/images/Aymen.JPG" alt="" class="sitter">
    <h4>Khammassi Aymen</h4>
  
              </div>


              <div class="profile-box">
                <div class="icon">
                  <i class="fa-solid fa-hand-holding-heart"></i>
                </div>
                <h3>Assistant</h3>
                <img src="../../../assets/images/malek2.jpg" alt="" class="sitter">
          
<h4>Brahmia Malek</h4>
  
              </div>


              <div class="profile-box">
                <div class="icon">
                  <i class="fa-solid fa-hand-holding-heart"></i>
                </div>
                <h3>T manager</h3>
                <img src="../../../assets/images/cherif.jpg" alt="" class="sitter">
          
          <h4>Cherif Mohamed</h4>
  
              </div>

          </div>
    </section>

    <section class="location-section">

                    <!-- Email submission form -->
                    <div class="email-form">
                        <h3>Contact Us</h3>
                        <form action="your-email-handler.php" method="post">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
        
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
        
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" required></textarea>
        
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                    </div>

        <div class="container">
            <h2>Our Location</h2>
            <!-- Google Maps iframe for Tunis, Tunisia -->
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1295.946711554396!2d10.2169483!3d36.8653235!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cbd1d29db77f%3A0xd66cbab20a52b203!2sLa%20Soukra!5e0!3m2!1sen!2stn!4v1648779567179!5m2!1sen!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

        </div>

    </section>

    <section class="why-choose-us">
        <div class="container">
            <h2>Why Choose Us ?</h2>
            <p>We are dedicated to providing compassionate and professional elderly care services that enhance the quality of life for seniors. Our experienced team prioritizes the well-being and independence of each individual. When you choose ElderlyCare, you're choosing:</p>
            <ul>
                <li>Personalized care plans</li>
                <li>Experienced and caring sitters</li>
                <li>A safe and nurturing environment</li>
                <li>Comprehensive support for seniors</li>
                <li>A commitment to respect and dignity</li>
            </ul>
        </div>
    </section>
    <footer class="footer-distributed">

        <div class="footer-left">
           <span>Follow Us</span>
         <div class="line"> __________________ </div> 

            <div class="footer-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>La soukra, Avenue de l'UMA, Ariana</span></p>
            </div>

            <div>
                <i class="fa-solid fa-phone"></i>
                <p>+216 74 129 258</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">familiacare@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                Our dedicated team empowers seniors to thrive with tailored assistance, companionship, and specialized services. Experience a fulfilling journey towards enriched senior living with us.
            
            </p>

        </div>
    </footer>
 
</body>
</html>
