<header class="navbar">
    <div class="navbar-logo navbar-fixed-top" >
      <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <nav class="navbar-nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/policy">Policy</a></li>
       
        
      </ul>
    </nav>
  </header>
  <br>
  <div class="box-container">
    <div class="box service-seeker">
      <a [routerLink]="['asSeeker']" class="btn btn1">I'm A Service Seeker</a>
    </div>
    <div class="box care-giver">
      <a href="/registration/asGiver" class="btn btn1">I'm A Care Giver</a>
    </div>
  </div>
  
