



body{
  background-color: #f8f8f8;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
    max-width: 1200px;
    width: 100%;
  }
  
  /* Form styling */
  form {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
  }
  
  /* Heading styling */
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .raw{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  /* Label styling */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  /* Input styling */
  input[type="text"],
  input[type="number"] {
    width:400px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus {
    border-color: #007bff;
  }
  
  /* Save button styling */
  button.btn-primary {
    background-color: #c29a9a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 15%;
    margin-right: 10px;
  }
  
  button.btn-primary:hover {
    background-color:  #eccccc;
  }
  
  /* Centering Step 2 heading */
  .mb-4 h2 {
    text-align: center;
  }
  
  /* Add more specific styling if needed */
  

.btn2{
   
    background-color: #c29a9a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 15%;
    margin-right: 10px;
    text-decoration: none;
  }
  .btn2:hover{
    background-color: #eccccc;
  }